html{
    height:100%;
}
body {
    background-color: white;
    background-image: url("bg2.png");
    height:100%;
    max-height: 100%;
    overflow: auto;
}
.lnuLogo {
    height: 2%;
    position: absolute;
    right: 1%;
    bottom: 0.5%;
    border-radius: 5px;
    display: block;
    box-shadow: 0 0 5px 2px rgba(255, 255, 0, 1);
}
#info-container{
    position: absolute;
    display: block;
    bottom:-30%;
    left:1%;
    height:32%;
    width: 40%;
}
#info-container span{
    float:left;
    font-size:24px;
    color:lightgray;
}
#yellowBlob{
    float:left;
    height: 5%;
    width: 7%;
    background-color: yellow;
    border-radius: 50%;
}
#redBlob{
    float:left;
    height: 5%;
    width: 7%;
    background-color: red;
    border-radius: 50%;
}
#greenBlob{
    float:left;
    height: 5%;
    width: 7%;
    background-color: limegreen;
    border-radius: 50%;
}
#teachers-main-container{
    height: 90%;
    width:90%;
    margin:0 auto;
    
}
#teachers-main-container .teacher-status-present, #teachers-main-container .teacher-status-vaxjo, #teachers-main-container .teacher-status-not-present {
    width:21%;
    padding-top: 0.75%;
    padding-bottom: 0.75%;
    border-radius: 5px;
    background-color: #F6F6F6;
    /*    margin-top: 25px;*/
    
    margin:2%;
    float: left;
    display:inline-block;
}


.teacher-status-present {

    box-shadow: 0 0 35px 5px rgba(0, 255, 0, 1);
    animation: pulseGreen 4s ease-in-out infinite;

}


.teacher-status-vaxjo {

    box-shadow: 0 0 35px 5px rgba(255, 255, 0, 1);
    animation: pulseYellow 4s ease-in-out infinite;
}

.teacher-status-not-present {
    box-shadow: 0 0 35px 5px rgba(255, 0, 0, 1);
    -webkit-filter: brightness(0.65);
    /*animation: pulseRed 8s ease-in-out infinite;*/
    /*opacity:0.5;*/
}

@-webkit-keyframes pulseGreen {
    50% {
        -webkit-box-shadow: 0 0 35px 5px rgba(0, 200, 0, 0.8);
        ;
    }
}

@keyframes pulseGreen {
    50% {
        box-shadow: 0 0 35px 5px rgba(0, 200, 0, 0.8);
    }
}


@-webkit-keyframes pulseYellow {
    50% {
        -webkit-box-shadow: 0 0 35px 5px rgba(200, 200, 0, 0.8);
        ;
    }
}

@keyframes pulseYellow {
    50% {
        box-shadow: 0 0 35px 5px rgba(200, 200, 0, 0.8);
    }
}

.teacher-status-vaxjo img, .teacher-status-not-present img, .teacher-status-present img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 90%;
    -webkit-box-sizing: content-box;
    -moz-box-sizing: content-box;
    box-sizing: content-box;
    border: none;
    color: rgba(255, 255, 255, 1);
    text-align: center;
    -o-text-overflow: ellipsis;
    text-overflow: ellipsis;
    /*-webkit-box-shadow: 0 0 40px 8px rgba(0,255,0,0.5);*/
    /*box-shadow: 0 0 40px 8px rgba(0,255,0,0.5);*/
}

.teacher-name-container {
    margin-top:-8%;
    margin-left: auto;
    margin-right: auto;
    width: 90%;
    background-color: #E5E5E5;
    display: block;
}

.teacher-name-container p {
    color: #101010;
    font: normal 24px/1 "Trebuchet MS", Helvetica, sans-serif;
    font-size: 1.8vw;
    -webkit-box-sizing: content-box;
    -moz-box-sizing: content-box;
    box-sizing: content-box;
    padding: 3%;
    border: none;
    overflow: hidden;
    white-space: nowrap;
    text-align: center;
    -o-text-overflow: ellipsis;
    text-overflow: ellipsis;
    -webkit-box-shadow: 0 0 6px 2px rgba(0, 0, 0, 0.5) inset;
    box-shadow: 0 0 6px 2px rgba(0, 0, 0, 0.5) inset;
    
}

.teacher-location-container {
    margin-left: auto;
    margin-right: auto;
    background-color: #E5E5E5;
    text-align: center;
    width: 90%;
    margin-top:-8%;
    -webkit-box-sizing: content-box;
    -moz-box-sizing: content-box;
    box-sizing: content-box;
    border: none;
    text-align: center;
    -o-text-overflow: ellipsis;
    text-overflow: ellipsis;
    -webkit-box-shadow: 0 0 6px 2px rgba(0, 0, 0, 0.5) inset;
    box-shadow: 0 0 6px 2px rgba(0, 0, 0, 0.5) inset;
    display: flex;
    align-items: center;
    justify-content: center;
}

.teacher-location-container p {
    color: #101010;
    font: normal 18px/1 "Trebuchet MS", Helvetica, sans-serif;
    font-size:1.2vw;
}
